<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llpy.textservice.mapper.ArticleCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.llpy.textservice.entity.ArticleComment">
        <id column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="user_id" property="userId" />
        <result column="parent_id" property="parentId" />
        <result column="content" property="content" />
        <result column="created_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, article_id, user_id, reply_user_id, content, created_time
    </sql>
     <select id="listComment" resultType="com.llpy.textservice.entity.vo.ArticleCommonVo">
        select * from llpyblog.article_comment
        <where>
            <if test="articleId != null">
                and article_id = #{articleId}
            </if>
        </where>
        order by
        create_time desc
    </select>

</mapper>
