<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llpy.textservice.mapper.ArticleCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.llpy.textservice.entity.ArticleComment">
        <id column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="user_id" property="userId" />
        <result column="parent_id" property="parentId" />
        <result column="content" property="content" />
        <result column="created_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, article_id, user_id, reply_user_id, content, created_time
    </sql>
    <delete id="deleteCommentByFinalId">
        delete from article_comment where final_id = #{commentId}
    </delete>
    <delete id="deleteCommentByParentId">
        delete from article_comment where parent_id = #{commentId}
    </delete>
    <delete id="deleteByArticleId">
        delete from article_comment where article_id = #{articleId}
    </delete>

    <select id="listCommentFinal" resultType="com.llpy.textservice.entity.vo.ArticleCommonVo">
        select * from article_comment
        <where>
            parent_id is null
            <if test="articleId != null">
                and article_id = #{articleId}
            </if>
        </where>
        order by
        create_time desc
    </select>
    <select id="selectSubComment" resultType="com.llpy.textservice.entity.ArticleComment">
        SELECT * FROM article_comment
        where
        final_id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="listCommentParent" resultType="com.llpy.textservice.entity.ArticleComment">
        SELECT * FROM article_comment
        where
        parent_id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="countByArticleId" resultType="java.lang.Integer">
        select count(*) from article_comment
        where article_id = #{articleId}
    </select>
    <select id="getRecentComment" resultType="com.llpy.textservice.entity.vo.RecentlyCommentVo">
        SELECT b.user_img,b.nickname, a.content, a.create_time,a.article_id
        FROM `article_comment` as a
                 INNER JOIN `user` as b on a.user_id = b.user_id
        ORDER BY create_time desc
        limit 5
    </select>

</mapper>
