<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llpy.textservice.mapper.DiaryMapper">

    <select id="getList" resultType="com.llpy.textservice.entity.dto.DiaryVo">
        SELECT d.diary_id,
               d.user_id,
               d.diary_title,
               dt.diary_text,
               dt.create_time,
               u.nickname
        FROM llpyblog.diary AS d
                 LEFT JOIN llpyblog.diary_text AS dt
                           on d.diary_id = dt.diary_id
                 left join llpyblog.`user` as u on d.user_id = u.user_id
        where d.is_open = 0
    </select>

    <select id="getListTitle" resultType="com.llpy.textservice.entity.dto.DiaryVo">
        SELECT d.diary_id,
               d.user_id,
               d.diary_title,
               u.nickname,
               d.create_time
        FROM llpyblog.diary AS d
                 LEFT JOIN llpyblog.`user` AS u ON d.user_id = u.user_id
        <where>
            <if test="userId!=null">
                d.user_id = #{userId}
            </if>
            <if test="userId==null">
                d.is_open = 0
            </if>
        </where>
    </select>

    <select id="getListById" resultType="com.llpy.textservice.entity.dto.DiaryVo">
        SELECT d.diary_id,
               d.user_id,
               d.diary_title,
               dt.diary_text,
               u.nickname,
               dt.create_time
        FROM llpyblog.diary AS d
                 LEFT JOIN llpyblog.diary_text AS dt
                           on d.diary_id = dt.diary_id
                 left join llpyblog.`user` as u on d.user_id = u.user_id
        where d.user_id = #{userId}
    </select>
    <select id="getOneText" resultType="com.llpy.textservice.entity.dto.DiaryVo">
        SELECT d.diary_id,
               dt.diary_text
        FROM llpyblog.diary AS d
                 LEFT JOIN llpyblog.diary_text AS dt ON d.diary_id = dt.diary_id
        WHERE
            d.diary_id = #{diaryId}
    </select>
</mapper>