<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llpy.textservice.mapper.UserCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.llpy.textservice.entity.UserComment">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="comment_id" property="commentId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, comment_id, create_time
    </sql>
    <delete id="deleteByParentId">
        DELETE
        FROM user_comment
        WHERE comment_parent = #{parentId};
    </delete>
    <select id="getOneByUserAndComment" resultType="com.llpy.textservice.entity.UserComment">
        SELECT *
        FROM user_comment
        WHERE user_id = #{userId}
          AND comment_id = #{commentId}
    </select>
    <select id="listByUserIdAndArticleId" resultType="java.lang.Long">
        SELECT a.id FROM article_comment as a
                             INNER JOIN user_comment as b on a.id = b.comment_id
        WHERE
            a.article_id = #{articleId} and
            b.user_id = #{userId}
    </select>

</mapper>
